<%= form_for(@video) do |f| %>
  <%= form_errors(@video) %>

  <div class="form-group">
    <%= f.label :url, t('videos.url') %>
    <%= f.text_field :url, class: 'form-control form-input', required: '' %>
  </div>
  <div class="form-group">
    <%= f.submit t('videos.new'), class: 'btn btn-colored' %>
  </div>
<% end %>
