<%= content_for :page_title, t('videos.page_title') + ' - ' + @video.title %>

<div class="col-lg-12">
  <%= @video.embed_code.html_safe %>

  <div class="author-info">
    <div class="avatar">
      <%= image_tag gravatar_url(@video.user.email) %>
    </div>
    <div class="bio">
      <h5><span><%= t('videos.author') %>:</span> <%= @video.user.human_name %></h5>
      <p>
        <%= favorite_video(@video, current_user) if user_signed_in? %>
        <span class="video-like glyphicon glyphicon-thumbs-up"></span>
        <span class="video-dislike glyphicon glyphicon-thumbs-down"></span>
      </p>
    </div>
  </div>

  <%= render 'comments' %>

</div>
