<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Advert.rocks</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/ico" href="images/favicon.ico" />
  <link href='https://fonts.googleapis.com/css?family=Dosis:400,500,600,700' rel='stylesheet' type='text/css' />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'inc/top_bar' %>
<%= render 'inc/header' %>

<!--
<section id="breadcrumbs">
  <div class="container"><a href="index.html">Home</a> <i class="fa fa-angle-double-right"></i> Video</div>
</section>
-->
<div style="height:10px"></div>

<section id="tagline">
  <div class="container">
    <h1><%= yield :page_title %></h1>
    <h4><%= yield :page_description %></h4>
  </div>
</section>


<main>
  <section id="content">
    <div class="container">
      <%= flash_message(flash) %>
      <%= yield %>
    </div>
  </section>
</main>

<%= render 'inc/footer' %>

</body>
</html>